body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $colorTwo;
    background-color: #fff;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}