body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $colorTwo;
    background: linear-gradient(to right, #ffefba, #ffffff);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.icons {
    margin-left: 330px;
}

.card-img-top {
    min-height: 430px;
}

.square-holder {
    padding: 30px;
    border: 1px solid #cecece;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    min-height: 230px;
    margin: 30px 30px;
}

.square-holder img {
    max-width: 100%;
    filter: grayscale(100%);
    transition: all 0.3s;
}


/*.square-holder:hover img {
    filter: none;
}*/

.carousel-inner {
    height: 500px;
}